{% extends '::layout.html.twig' %}

{% block title %}Lista de Cajas{% endblock %}

{% block section %}

    <table id="example" cellpadding="0" cellspacing="0" border="0" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nro</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caja_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nro }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('caja_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('caja_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
            <a class="btn btn-primary" href="{{ path('caja_new') }}">
                Registrar
            </a>
    </ul>
    {% endblock %}
